<a href="https://colab.research.google.com/github/HarshitaDoki/Python_new/blob/Module_2/assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. print prime nums in a range
def primes(n,m):
  for i in range (n,m+1):
    c=0
    for j in range(2,i):
      if i%j==0:
         c=c+1
    if c==0:
      print(i)      
n=int(input())
m=int(input())
primes(n,m)

25
50
29
31
37
41
43
47

In [ ]:
#2.WAP to read any month in integer and display no of days 
def md(n):
  if n==1 or n==3 or n==5 or n==7or n==9or n==11:
    print('31 days')
  elif n==4or n==6 or n==8 or n==12:
    print('30 days')  
  else:
    print('28 days')
n=int(input("enter month num"))
md(n)

enter month num5
31 days

In [ ]:
#3. print even length words in string
s=input()
s=s.split(' ')
for x in s :
  if len(x)%2==0:
    print(x,end=" ")

i am harshita
am harshita

In [ ]:
#4. WAP to capitalise the first and last letter of each word
a=input()
b=a.split(' ')
s=' '
for i in b:
  x=i.capitalize()
  y=i[-1].capitalize()
  s=x[0:-1]+y
  print(s,end=' ')

my name is xyz
MY NamE IS XyZ

In [ ]:
#5.convert multiple to single integer
a=eval(input("enter list of nums"))
b=' '
for i in a:
  b=b+str(i)
print(b)

enter list of nums[11,66,45]
 116645

In [ ]:
#6.a. find power of nuum with recursion
def power(n,p):
   if p>0:
     return n*power(n,p-1)
   else:
     return 1  
n=int(input())
p=int(input()) 
f=power(n,p)
print(f)

2
4
16

In [ ]:
#6.b.find power of num without recursion
n=int(input())
p=int(input())
print(pow(n,p))

2
4
16

In [ ]:
#7.sort tuples by list of digits
s=[(3,4,6,723),(1,2),(134,234,34)]
s.sort()
print(s)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

In [ ]:
#8.Accepting 5 different subject marks from user and displaying the grade of the student.
s1=float(input('enter marks of sub1'))
s2=float(input('enter marks of sub2'))
s3=float(input('enter marks of sub3'))
s4=float(input('enter marks of sub4'))
s5=float(input('enter marks of sub5'))
avg=(s1+s2+s3+s4+s5)/5
if avg<=100 and avg>=90:
  print('O grade')
elif avg<=89 and avg>=80:
  print('A+ grade')
elif avg<=79 and avg>=70:
  print('A grade')
elif avg<=69 and avg>=60:
  print('B+ grade')   
elif avg<=59 and avg>=50:     
   print('Pass')
else:
   print('fail')

In [ ]:
# 9.WAP to print 1 if given nums are in ascending or descending
a=[1,2,3,4,5,6]
k=l=0
m=len(a)
for i in range(0,m-1):
  if a[i]<=a[i+1]:
    k=k+1
  elif a[i]>=a[i+1]:
    l=l+1
if k==m-1 or l==m-1:
  print("1")

1

In [ ]:
#10.perfect num or not
a=int(input('enter a num'))
s=0
for i in range(1,a):
 if a%i==0:
   s=s+i
if s==a:
  print(a,'is a perfect num')
else:
  print(a,'is not a perfect num')

enter a num28
28 is a perfect num

In [ ]:
#11.check whether given string is palindrome or not
a="malayalam"
k=len(a)
l=0
for i in range(0,(k-1)//2):
  if a[i]==a[k-1-i]:
    l=l+1
if l==(k-1)//2 :
  print("string is a palindrome")

string is a palindrome

In [ ]:
#12.Compute GCD of two given numbers
a=int(input('enter a num'))
b=int(input('enter a num'))
gcd=1
if a<b:
  for i in range(1,a):
    if a%i==0 and b%i==0 and i>=gcd:
       gcd=i
elif a>b:
  for i in range(1,b):
     if a%i==0 and b%i==0 and i>=gcd:
          gcd=i
else:  # a=b........
  gcd=a
print('gcd of',a,'and',b,'is',gcd)

enter a num5
enter a num3
gcd of 5 and 3 is 1

In [ ]:
#13.print sum of even digits in a num
a=int(input("enter a num"))
c=r=0
while(a!=0):
  r=a%10
  a=a//10
  if r%2==0:
    c=c+r
print(c)

enter a num25634
12

In [ ]:
#14.print sum of squares of digits of a num
a=int(input(" enter a num"))
s=0
while(a!=0):
  r=a%10
  a=a//10
  s=s+pow(r,2)
print(s)

 enter a num123
14

In [ ]:
#15.dispaly how many times ith character from the front equals last ith element
s='abcdefcba'
k=len(s)
c=0
for i in range(k):
  for j in range(i+1,k):
    if s[i]==s[j]:
      c=c+1
print(c)

3

In [ ]:
#16.input n,return a list containing 1223334444 and finally n repeated n times
n=int(input())
l=0
for i in range(1,n+1):
  for k in range(1,i+1):
    print(i,end="")

4
1223334444

In [ ]:
#17. no of vowels and consonants
s='gitam university'
v=c=0
for i in s:
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
    v=v+1
  else:
    c=c+1  
print('no of vowels are',v,'no of consonants are',c)

no of vowels are 6 no of consonants are 10

In [ ]:
#18. print ascending or descending
n=int(input())
m=int(input())
if n<m:
  for i in range(n,m+1):
    print(n)
    n+=1
else:
  for i in range(m,n+1):
    print(m)
    m+=1

3
15
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
#19.greatest of 3
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
  print(a,'is the greatest num')
elif b>a and b>c:
  print(b,'is the greatest num')
else:
  print(c,'is the greatest num')

4
8
6
8 is the greatest num

In [ ]:
#20.to count no of strings len is 2 or more and find first and last characters are same
def matching(words):
  c=0
  for w in words:
    if len(w)>=2 and w[0]==w[-1]:
      c+=1
  return c
print(matching(['abc','aha','aba','1221']))

3

In [ ]:
'''21. There is a walking track of 3 km(roundtrip 3+3=6)..take input from user no of days,followed by no of days,followed by no of round trips
in 1 day...find total distance he covers in m,if round trip : < 40000m-need to walk more,>=40000m-you have done a grt job'''
d=int(input("no of days:"))
t=int(input("no of round trips per day"))
k=d*t*6000
print(k)
if k<40000:
  print('need to walk more')
else:
  print('great job')

no of days:5
no of round trips per day1
30000
need to walk more

In [ ]:
#22.find a name which starts with given input from the list
names=['Harshita','Sowmya','Hema','Hemika','Nikhil']
letter=input("enter first letter")
k=[]
for i in names:
  if i[0]==letter:
    k.append(i)
    print(i)
print(k)

enter first letterH
Harshita
Hema
Hemika
['Harshita', 'Hema', 'Hemika']

In [ ]:
#23.given list ...print all greater than given length
cities=['vizag','goa','mumbai','jaipur','assam']
l=int(input("enter length"))
k=[]
for i in cities:
  if len(i)>=l:
    k.append(i)
print(k)

enter length6
['mumbai', 'jaipur']

In [ ]:
# 24. print prime nums in given range
n=int(input('from'))
m=int(input('to'))
for i in range(n,m+1):
  l=0
  for k in range(2,i):
    if i%k==0:
        l=1
    k=k+1    
  if l==0:
    print(i)
  i=i+1

from25
to50
29
31
37
41
43
47

In [ ]:
#25.display first letter of each word in string
s="My name is harshita"
b=s.split(' ')
for i in b:
  print(i[0].upper())

M
N
I
H