<a href="https://colab.research.google.com/github/HarshitaDoki/Python_new/blob/Module_2/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
self={
    "clg": "gitam",
    "place":"vskp",
    "branch":"cse-aiml"
}
print(self)
print(self["place"]) 
print(len(self))

{'clg': 'gitam', 'place': 'vskp', 'branch': 'cse-aiml'}
vskp
3

Dictionaries cannot have two items with the same key.
Duplicate values will overwrite existing values

In [ ]:
self={
    "clg": "gitam",
    "place":"vskp",
    "branch":"cse-aiml",
    "place":"delhi"
}
print(self)

{'clg': 'gitam', 'place': 'delhi', 'branch': 'cse-aiml'}

In [ ]:
#The values in dictionary items can be of any data type
dic = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(dic)
print(type(dic))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
<class 'dict'>

In [ ]:
# accessing items
self={
    "clg": "gitam",
    "place":"vskp",
    "branch":"cse-aiml"
}
x=self['branch']
print(x)
#or
y=self.get('place')
print(y)

cse-aiml
vskp

In [ ]:
#pl..name..age..f..cgpa..phone num......sec
placement={
    "name":input("enter name"),
    "age": int(input("enter age")),
    "cgpa": float(input('enter cgpa')),
    "section":input('enter section'),
    "phone-num": int(input('enter phone num'))
}
print(placement["cgpa"])
info=placement.keys() # The keys() method will return a list of all the keys in the dictionary 
print(info)

enter namedhjnmk
enter age21
enter cgpa9.2
enter sectionghxfsr
enter phone num76535609543
9.2

In [ ]:
# Add a new item to the original dictionary
self={
    "clg": "gitam",
    "place":"vskp",
    "branch":"cse-aiml"
}
print(self)
self["year"]="2021"
print(self)

{'clg': 'gitam', 'place': 'vskp', 'branch': 'cse-aiml'}
{'clg': 'gitam', 'place': 'vskp', 'branch': 'cse-aiml', 'year': '2021'}

In [ ]:
# The values() method will return a list of all the values in the dictionary.
self={
    "clg": "gitam",
    "place":"vskp",
    "branch":"cse-aiml"
}
y=self.values()
print(y)

dict_values(['gitam', 'vskp', 'cse-aiml'])

In [ ]:
#The items() method will return each item in a dictionary, as tuples in a list.
self={
    "clg": "gitam",
    "place":"vskp",
    "branch":"cse-aiml"
}
y=self.items()
print(y)

dict_items([('clg', 'gitam'), ('place', 'vskp'), ('branch', 'cse-aiml')])

In [ ]:
#The update() method will update the dictionary with the items from the given argument.
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
def my_details():
 det={
  'Name':'D.Harshita',
  'Roll Number':'VU21CSEN0300039',
  'Branch':'CSE',
  'Specialization':'AIML',
  'Email ID':'dharshit@gitam.in',
  'Moodle ID':'HARSHITA DOKI vu21csen0300039',
  'GitHub ID':'HarshitaDoki',
  'Replit ID':'D.HARSHITA VU21CSEN0300039',
  'Semester':'2',
  'Year(1-4)':'1'
 }
 return det
dt = my_details()
print(dt)

{'Name': 'D.Harshita', 'Roll Number': 'VU21CSEN0300039', 'Branch': 'CSE', 'Specialization': 'AIML', 'Email ID': 'dharshit@gitam.in', 'Moodle ID': 'HARSHITA DOKI vu21csen0300039', 'GitHub ID': 'HarshitaDoki', 'Replit ID': 'D.HARSHITA VU21CSEN0300039', 'Semester': '2', 'Year(1-4)': '1'}

In [ ]:
all_freq = {}
st="my name is hari" 
for i in st:
    if i in all_freq:
        all_freq[i] += 1
    else:
        all_freq[i] = 1
print(all_freq)

{'m': 2, 'y': 1, ' ': 3, 'n': 1, 'a': 2, 'e': 1, 'i': 2, 's': 1, 'h': 1, 'r': 1}

In [ ]:
Dict={0:0, 1:1}
def fibo(n):
    if n not in Dict:
        val=fibo(n-1)+fibo(n-2)
        Dict[n]=val
    return Dict[n]
n=int(input("Enter the value of n:"))
print("Fibonacci(", n,")= ", fibo(n))
print(Dict)

Enter the value of n:10
Fibonacci( 10 )=  55
{0: 0, 1: 1, 2: 1, 3: 2, 4: 3, 5: 5, 6: 8, 7: 13, 8: 21, 9: 34, 10: 55}

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
for p_id, p_info in myfamily.items():
    print("\nPerson ID:", p_id)
    
    for key in p_info:
        print(key + ':', p_info[key])

Person ID: child1
name: Emil
year: 2004

Person ID: child2
name: Tobias
year: 2007

Person ID: child3
name: Linus
year: 2011

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

d3 = {}

for i, j in d1.items():
    for x, y in d2.items():
        if i == x:
            d3[i]=(j+y)
            
for i, j in d1.items():
  if i not in d3:
    d3[i]=j
for i, j in d2.items():
  if i not in d3:
    d3[i]=j
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
n=int(input())
d={}
for i in range(1,6):
  d[i]=i*n
print(d)

8
{1: 8, 2: 16, 3: 24, 4: 32, 5: 40}

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300 ,'d':50,'e':150}
n=int(input())
k=[]
k=d1.values()
k=sorted(k)
k.reverse()
for i in range(1,n+1):
   print(k[i])

4
200
150
100
50

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300 ,'d':50,'e':150}
k=d1.values()
s=0
for i in k:
  s=s+i
print(s)

800