<a href="https://colab.research.google.com/github/HarshitaDoki/Python_new/blob/Module_2/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A set is a collection which is unordered, unchangeable, and unindexed and do not allow duplicate values..
Sets are written with curly brackets.
It is also possible to use the set() constructor to make a set.
Once a set is created, you cannot change its items, but you can add new items.
To add one item to a set use the add() method.

In [ ]:
animals={'dog','cat','duck','dog','dog'}
print(animals)
print(type(animals))
print('duck'in animals)

{'duck', 'cat', 'dog'}
<class 'set'>
True

In [ ]:
#To add items from another set into the current set, use the update() method.
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
#To remove an item in a set, use the remove(), or the discard() method.
animals={'dog','cat','duck','donkey'}
animals.remove('cat')
animals.discard('donkey')
print(animals)
# If the item to remove does not exist, discard() will NOT raise an error

{'duck', 'dog'}

You can also use the pop() method to remove an item, but this method will remove the last item. sets are unordered, so you will not know what item that gets removed.

In [ ]:
# Remove the last item by using the pop() method
animals={'dog','cat','duck','donkey'}
x=animals.pop()
print(x)
print(animals)

duck
{'cat', 'donkey', 'dog'}

In [ ]:
#The clear() method empties the set
#The del keyword will delete the set completely
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

In [ ]:
# Loop through the set, and print the values
animals={'dog','cat','duck','donkey'}
for x in animals:
  print(x)

duck
cat
donkey
dog

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [ ]:
#Join Two Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

In [ ]:
#Join Two Sets
set1 = {"apple", "box" , "cat"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'cat', 2, 3, 'box', 'apple'}

In [ ]:
# The intersection_update() method will keep only the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
#The intersection() method will return a new set, that only contains the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [ ]:
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'microsoft', 'cherry', 'google', 'banana'}

In [ ]:
#The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)